#app-component-div {
  display: flex;
}

@media (orientation: portrait) {
  #app-component-div {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  #app-component-div {
    flex-direction: row;
  }
}

header {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

@media (orientation: landscape) {
  header {
    writing-mode: vertical-lr;
  }
}


section {
  flex-grow: 1;
}

footer {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
@media (orientation: landscape) {
  footer {
    writing-mode: vertical-lr;
  }
}
