#app-component-div {
  display: flex;
  height: 100vh;
}

@media (orientation: portrait) {
  #app-component-div {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  #app-component-div {
    flex-direction: row;
  }
}

header {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

@media (orientation: landscape) {
  header {
    /*
      According to MDN, the desired vertical orientation is specified via

      writing-mode: sideways-lr

      However, as of chrome 112 that does not result in vertical text.

      Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/writing-mode

      Workaround below: use vertical-lr and rotate it 180 degrees.

      Issue tracked as https://github.com/Roger-random/compass/issues/3
    */
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}


section {
  flex-grow: 1;
}

footer {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
@media (orientation: landscape) {
  footer {
    /*
      According to MDN, the desired vertical orientation is specified via

      writing-mode: sideways-lr

      However, as of chrome 112 that does not result in vertical text.

      Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/writing-mode

      Workaround below: use vertical-lr and rotate it 180 degrees.

      Issue tracked as https://github.com/Roger-random/compass/issues/3
    */
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}
