#capability-check-div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 0.5em;
  border: red solid 0.25em;
  border-radius: 1em;
}

#display {
  display: flex;
}

@media (orientation: portrait) {
  #display {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  #display {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

#compass {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-compass-needle {
  display: block;
  aspect-ratio: 1;
}

@media (orientation: portrait) {
  #compass {
    flex-grow: 1;
  }

  app-compass-needle {
    width: 80%;
    padding: 10%;
  }
}

@media (orientation: landscape) {
  app-compass-needle {
    height: 60vh;
    padding: 10vh;
  }
}

#data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#three-axis {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

#three-axis li {
  display: flex;
  width: 8em;
  justify-content: space-between;
  border: solid 1px black;
  padding: 0.5em;
}

#three-axis li p {
  font-family: 'Courier New', Courier, monospace;
}

@media (orientation: portrait) {
  #three-axis {
    flex-direction: row;
    width: 90%;
  }
}

@media (orientation: landscape) {
  #data {
    padding: 2em;
  }

  #three-axis {
    flex-direction: column;
    width: 60%;
  }
}

