#capability-check-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 0.5em;
  border: red solid 0.25em;
  border-radius: 1em;
}

#display {
  display: flex;
  margin: 0.5em;
  justify-content: space-evenly;
  height: 100%;
}

@media (orientation: portrait) {
  #display {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  #display {
    flex-direction: row;
  }
}

#compass {
  display: flex;
  flex-grow: 1;
}

app-compass-needle {
  height: 100%;
  flex-grow: 1;
}

#data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  text-align: center;
}

#three-axis {
  list-style-type: none;
  display: grid;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5em;
  padding-inline: 0;
}

#three-axis li {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  padding: 0.5em;
}

#three-axis li p {
  font-family: 'Courier New', Courier, monospace;
}

@media (orientation: portrait) {
  #three-axis {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media (orientation: landscape) {
  #three-axis {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

