<div id="capability-check-div">
  <section>
    <div *ngIf="haveSensor()">
      <p>Magnetometer is online</p>
    </div>
    <div *ngIf="haveAPI()">
      <p>No Magnetometer Sensor</p>
    </div>
    <div *ngIf="start()">
      <p>No magnetometer API. Maybe turn on chrome://flags?</p>
    </div>
    <div *ngIf="error()">
      <p>Something unexpected happened</p>
    </div>
  </section>
  <section>
    <app-compass-needle></app-compass-needle>
  </section>
  <section>
    <p>{{magetometerService.status | async}}</p>
  </section>
</div>
