<div id="capability-check-div">
  <section>
    <div *ngIf="haveMagnetometerAPI; else apiFail">
      <div *ngIf="haveMagnetometerSensor; else sensorFail">
        <p>Magnetometer is online</p>
      </div>
      <ng-template #sensorFail>
        <p>No Magnetometer Sensor</p>
      </ng-template>
    </div>
    <ng-template #apiFail>
      <p>No magnetometer API. Maybe turn on chrome://flags?</p>
    </ng-template>
  </section>
  <section>
    <app-compass-needle></app-compass-needle>
  </section>
  <section>
    <p>Tap Compass For Fullscreen</p>
  </section>
</div>
