<div id="capability-check-div">
  <section class="info" *ngIf="haveAPI()">
    <p>
      <a href="https://w3c.github.io/magnetometer/">W3C Magnetometer API</a>
      is available on this browser, but was unable to connect to an actual
      sensor on this device. This is expected if this device lacks applicable
      hardware. (Example: low-end Amazon Fire tablets and most desktop/laptop
      computers.)
    </p>
  </section>
  <section class="info" *ngIf="start()">
    <p>
      <a href="https://w3c.github.io/magnetometer/">W3C Magnetometer API</a>
      is not available right now. For Chrome, you will need to type
      <strong>chrome://flags</strong> into your address bar to access
      <strong>Experiments</strong> menu. From there enable "Generic Sensor
      Extra Classes". Other browsers/devices will vary.
    </p>
  </section>
  <section id="display">
    <section id="compass">
      <app-compass-needle></app-compass-needle>
    </section>
    <section id="data">
      <h4>{{magnetometerService.status | async}}</h4>
      <ul id="three-axis">
        <li>
          <h4>X</h4>
          <p>{{magX | number:'1.2-2'}}</p>
        </li>
        <li>
          <h4>Y</h4>
          <p>{{magY | number:'1.2-2'}}</p>
        </li>
        <li>
          <h4>Z</h4>
          <p>{{magZ | number:'1.2-2'}}</p>
        </li>
      </ul>
      <button *ngIf="fullscreenService.canFullscreen()" (click)="fullscreenService.goFullscreen()">
        Go Fullscreen
      </button>
    </section>
  </section>
</div>
